@charset "UTF-8";
/* -----------------------------------------------*/
/* MEDIA QUERIES */
/* -----------------------------------------------*/
/* Big tablet to 1200px (widths smaller than the 1140px row) */
/* Small tablet to big tablet: from 768px to 1023px */
/* Small phones to small tablets: from 481px to 767px */
/* Small phones: from 0 to 480px */
/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */
.js--wp-1,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8 {
  opacity: 0;
  animation-duration: 1s; }

.js--wp-2 {
  animation-duration: 1s;
  animation-iteration-count: 2; }

.boxes :nth-child(2) .js--wp-6 {
  animation-delay: .5s; }

.boxes :nth-child(3) .js--wp-6 {
  animation-delay: 1s; }

.js--wp-1.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated {
  opacity: 1; }

/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 1023px) {
    html,
    body {
      font-size: 17px; } }
  @media only screen and (max-width: 767px) {
    html,
    body {
      font-size: 15px; } }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
section {
  padding: 80px 0; }
  @media only screen and (max-width: 1023px) {
    section {
      padding: 60px 0; } }

.box {
  padding: 1%; }

/* ------ HEADINGS ------ */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 180%; } }

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 150%; } }

h3 {
  font-size: 110%;
  margin-bottom: 15px; }

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px; }

/* ------ PARAGRAPHS ------ */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1023px) {
    .long-copy {
      width: 80%;
      margin-left: 10%; } }
  @media only screen and (max-width: 767px) {
    .long-copy {
      width: 100%;
      margin-left: 0%; } }

/* ------ LINKS ------ */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s; }

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent; }

/* ------ ICONS ------ */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px; }

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px; }
  @media only screen and (max-width: 1023px) {
    .icon-small {
      width: 17px;
      margin-right: 5px; } }

/* ------ BUTTONS ------ */
.btn:link,
.btn:visited,
input[type=submit] {
  border: 1px solid blue;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn.focus, .btn:focus {
  box-shadow: none; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px; }

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22; }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17; }

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17; }

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff; }

/* -----------------------------------------------*/
/* HEADER */
/* -----------------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/main-min.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  /* ------ HAMBURGER BUTTON ------ */
  /* ------ MAIN NAV ------ */
  /* ------ STICKY NAV ------ */ }
  header .logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; }
    @media only screen and (max-width: 1023px) {
      header .logo {
        height: 50px; } }
    @media only screen and (max-width: 767px) {
      header .logo {
        margin-top: 0; } }
  header .hamburger-inner,
  header .hamburger-inner::before,
  header .hamburger-inner::after,
  header .hamburger.is-active .hamburger-inner,
  header .hamburger.is-active .hamburger-inner::before,
  header .hamburger.is-active .hamburger-inner::after {
    background-color: #e67e22; }
  header .main-nav {
    margin-left: 30%;
    list-style: none; }
    @media only screen and (max-width: 1200px) {
      header .main-nav {
        margin-left: 15%; } }
    @media only screen and (max-width: 1023px) {
      header .main-nav {
        margin-left: 5%; } }
    @media only screen and (max-width: 767px) {
      header .main-nav {
        margin: 0;
        text-align: center;
        z-index: 9999; } }
    header .main-nav li {
      display: inline-block;
      margin-left: 40px; }
      @media only screen and (max-width: 767px) {
        header .main-nav li {
          margin-left: 0; } }
      header .main-nav li a:link,
      header .main-nav li a:visited {
        padding: 8px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s; }
        @media only screen and (max-width: 767px) {
          header .main-nav li a:link,
          header .main-nav li a:visited {
            border: 0;
            padding: 5px 0;
            font-size: 150%;
            color: #e67e22; } }
        @media only screen and (max-width: 480px) {
          header .main-nav li a:link,
          header .main-nav li a:visited {
            font-size: 110%; } }
      header .main-nav li a:hover,
      header .main-nav li a:active {
        border-bottom: 2px solid #e67e22; }
        @media only screen and (max-width: 767px) {
          header .main-nav li a:hover,
          header .main-nav li a:active {
            border: none; } }
  header .sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    padding: 0; }
    header .sticky .logo {
      margin: 0;
      height: 45px; }
      @media only screen and (max-width: 767px) {
        header .sticky .logo {
          margin: 0; } }
    header .sticky .main-nav {
      margin-top: 18px; }
      @media only screen and (max-width: 767px) {
        header .sticky .main-nav {
          margin-top: 10px; } }
      header .sticky .main-nav li a:link,
      header .sticky .main-nav li a:visited {
        color: #e67e22; }
        @media only screen and (max-width: 767px) {
          header .sticky .main-nav li a:link,
          header .sticky .main-nav li a:visited {
            padding: 10px 0; } }
  header .hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 1200px) {
      header .hero-text-box {
        width: 100%;
        padding: 0 5%; } }
    @media only screen and (max-width: 767px) {
      header .hero-text-box {
        top: 65%; } }

/* -----------------------------------------------*/
/* FOOTER */
/* -----------------------------------------------*/
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
  color: #888;
  /* ------ SOCIAL LINKS ------ */ }
  footer .footer-text {
    text-align: center; }
  footer .social-links {
    list-style: none;
    text-align: center; }
    footer .social-links li {
      display: inline-block;
      margin-right: 20px; }
      footer .social-links li a:link,
      footer .social-links li a:visited {
        font-size: 160%;
        text-decoration: none;
        border: 0;
        color: #888; }
    footer .social-links li:last-child {
      margin-right: 0; }
  footer .ion-social-facebook,
  footer .ion-social-twitter,
  footer .ion-social-youtube,
  footer .ion-social-instagram {
    transition: color 0.2s; }
  footer .ion-social-facebook:hover {
    color: #3b5998; }
  footer .ion-social-twitter:hover {
    color: #00aced; }
  footer .ion-social-youtube:hover {
    color: #dd4b39; }
  footer .ion-social-instagram:hover {
    color: #af4dff; }

/* -----------------------------------------------*/
/* SECTION GALLERY */
/* -----------------------------------------------*/
.section-gallery {
  padding: 0; }
  .section-gallery .pleasure-showcase {
    list-style: none;
    width: 100%;
    margin: 0; }
    .section-gallery .pleasure-showcase li {
      display: block;
      float: left;
      width: 25%; }
      .section-gallery .pleasure-showcase li .pleasure-photo {
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-color: #000; }
        .section-gallery .pleasure-showcase li .pleasure-photo img {
          opacity: 0.6;
          width: 100%;
          height: auto;
          transform: scale(1.15);
          transition: transform 0.5s, opacity 0.5s; }
        .section-gallery .pleasure-showcase li .pleasure-photo img:hover {
          transform: scale(1.03);
          opacity: 1; }

/* -----------------------------------------------*/
/* SECTION ZA PONETI */
/* -----------------------------------------------*/
.section-poneti {
  background-color: #f2f2f2; }

.poneti-box-contact {
  margin-top: 40px; }
  @media only screen and (max-width: 1023px) {
    .poneti-box-contact {
      margin-top: 10px; } }
  .poneti-box-contact .poneti-contact {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef; }
    @media only screen and (max-width: 1023px) {
      .poneti-box-contact .poneti-contact {
        width: 100%;
        margin-left: 0%; } }
    @media only screen and (max-width: 767px) {
      .poneti-box-contact .poneti-contact {
        text-align: center; } }
    .poneti-box-contact .poneti-contact div {
      padding: 15px;
      border-bottom: 1px solid #e8e8e8; }
      .poneti-box-contact .poneti-contact div span {
        font-size: 85%; }
    .poneti-box-contact .poneti-contact div:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }

.poneti-box-img {
  text-align: center;
  margin-top: 30px;
  padding-right: 3%; }

.poneti-box {
  padding-left: 3%;
  margin-top: 50px; }
  @media only screen and (max-width: 1023px) {
    .poneti-box {
      margin-top: 30px;
      font-size: 90%; } }

.app-screen {
  width: 80%; }
  @media only screen and (max-width: 1023px) {
    .app-screen {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .app-screen {
      width: 40%; } }

.poneti-step {
  margin-bottom: 50px; }
  @media only screen and (max-width: 1023px) {
    .poneti-step {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 767px) {
    .poneti-step {
      margin-bottom: 20px; } }
  .poneti-step p {
    padding-top: 10px; }

.poneti-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px; }
  @media only screen and (max-width: 767px) {
    .poneti-step div {
      height: 40px;
      width: 40px;
      margin-right: 15px;
      padding: 4px;
      font-size: 120%; } }

/* -----------------------------------------------*/
/* SECTION KETERING */
/* -----------------------------------------------*/
.section-catering {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/catering-min.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  .section-catering blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px; }
  .section-catering blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    color: #e67e22; }

/* -----------------------------------------------*/
/* SECTION KONTAKT */
/* -----------------------------------------------*/
.section-contact {
  background-color: #fff; }
  .section-contact .contact-form {
    width: 60%;
    margin: 0 auto; }
    @media only screen and (max-width: 1023px) {
      .section-contact .contact-form {
        width: 80%; } }
    .section-contact .contact-form input[type=text],
    .section-contact .contact-form input[type=email],
    .section-contact .contact-form select,
    .section-contact .contact-form textarea {
      width: 100%;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin: 10px; }
    .section-contact .contact-form textarea {
      height: 100px; }
    .section-contact .contact-form input[type=checkbox] {
      margin: 10px 5px 10px 0; }

/* -----------------------------------------------*/
/* SECOND PAGE SAZNAJTE VIŠE */
/* -----------------------------------------------*/
.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/pleasure-cafe.png"); }

.section-preporuka {
  background-color: #f4f4f4; }
  .section-preporuka .preporuka-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef; }
    @media only screen and (max-width: 480px) {
      .section-preporuka .preporuka-box {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 1023px) {
      .section-preporuka .preporuka-box {
        width: 100%;
        margin-left: 0%; } }
    .section-preporuka .preporuka-box div {
      padding: 15px;
      border-bottom: 1px solid #e8e8e8; }
      .section-preporuka .preporuka-box div .preporuka-cena {
        font-size: 300%;
        margin-bottom: 10px;
        font-weight: 100;
        color: #e67e22; }
        @media only screen and (max-width: 1023px) {
          .section-preporuka .preporuka-box div .preporuka-cena {
            font-size: 250%; } }
        .section-preporuka .preporuka-box div .preporuka-cena span {
          font-size: 30%;
          font-weight: 300; }
      .section-preporuka .preporuka-box div .preporuka-opis {
        font-size: 80%;
        margin-bottom: 0; }
      .section-preporuka .preporuka-box div ul {
        list-style: none; }
      .section-preporuka .preporuka-box div ul li {
        padding: 0; }
    .section-preporuka .preporuka-box div:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .section-preporuka .preporuka-box div:last-child {
      text-align: center;
      border: 0; }

.section-ekipa .box img {
  width: 90%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-left: 5%; }
.section-ekipa .box .ekipa-text {
  margin-bottom: 10px;
  padding: 0 20px; }
  .section-ekipa .box .ekipa-text a {
    color: #e67e22; }
  .section-ekipa .box .ekipa-text span {
    font-size: 90%;
    font-style: italic; }
.section-ekipa .box .tim-lider {
  margin-top: 25px;
  display: block; }
.section-ekipa .box .tim-lider img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
